/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    width: 100vw;   /* 100% del ancho de la ventana */
    height: 100vh;  /* 100% del alto de la ventana */
    background: white;
}

body {
    color: #800080;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
---

/* BODY GENERAL */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER GRID 3 COLUMNAS*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(33.333vw - 3.333vw);
    margin: 0;
    border-radius: 0.25rem;
    background-color: lightpink;
    padding: 30px;

    border: 0px solid red;
}


header h1 {
    text-align: center;
    font-family: "Major Mono Display", monospace;
    font-size: 5.666vw;
    font-weight: 900;
    width: 33.333vw;
    height: auto;
    margin: 0;

    border: 0px solid orange;
}

.user-greeting {
    background-color: #800080;
    text-align: center;
    width: 100%;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0;
    font-size: 1.333vw;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    width: 33.333vw;
    justify-content: space-between;
    list-style: none;

    border: 0px solid orange;
}

.nav-item {
    display: flex;        /* opcional si los ítems tienen más contenido */
    justify-content: center; /* centra el icono dentro del li */
    flex: none;           /* NO expandir cada li */
}

.nav-link {
    position: relative;

}

.nav-link svg {
    display: block;

    width: 2.333vw;
    height:2.333vw;
    margin: 0;        /* por si acaso */
    padding: 0;       /* por si acaso */
}

.icon path { fill: #800080; }
.nav-link:hover .icon path { fill: white; }

.nav-link:hover::after {
  content: attr(data-tip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #800080;
  color: #FFE4E1;
  padding: 4px 6px;
  font-size: 12px;
  white-space: nowrap;
}

/* GRID RESPONSIVO HEADER */
@media (max-width: 992px) {
    header {
        grid-template-columns: 1fr auto; /* 2 columnas */
    }
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr; /* 1 columna */
    }
}


/* INDEX LISTINGS */
.index-listings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*gap: 15px;*/
    margin: 0;
    box-sizing: border-box;

    border: 0px solid red;
}

.index-listings {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    padding: 30px;

    border: 0px solid orange;
}

.index-listings img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
    margin-bottom: 0;
}

.index-listings-title {
    height: 3.333vw;
    margin: 15px 0;
    font-weight: 600;
    overflow: hidden;    /* oculta el texto que sobrepasa la altura */
    text-overflow: ellipsis; /* opcional, agrega "..." si se corta el texto */
}

.index-lisitngs-description {
    display: -webkit-box;
    font-weight: 100;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* cantidad de líneas visibles */
    overflow: hidden;
}

.clase-justificada {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.listing-price {

    font-weight: 600;
}

.index-listings:hover {
    color: #800080;
    background-color: #FFE4E1;
}

.index-listings-link:hover,
.index-listings-link:focus,
.index-listings-link:visited,
.index-listings-link:active {
  text-decoration: none;
}


/* GRID RESPONSIVO LISTINGS */
@media (max-width: 992px) {
    .index-listings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .index-listings-grid {
        grid-template-columns: 1fr;
    }
}


/* LISTING DETAIL*/
.listing-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 16px;
    border: .333vw solid lightpink;
}

.listing-detail-picture {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: lightgray;

    border: 0px solid red;
}

.listing-detail-text {
    padding: 15px;
}

.underline {
    display: inline-block;
    border-bottom: 2px solid #800080;
    padding-bottom: 2px;
}