/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Global Styles */
:root {
  --color-primary: #000000;
  --color-secondary: #555555;
  --color-tertiary: #AAAAAA;
  --color-quaternary: #FFFFFF;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--color-quaternary);
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;

    color: var(--color-primary);

    border: 0 solid purple;
}

strong {
    font-weight: 700;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; }
img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

::placeholder {
    color: var(--color-primary);
    opacity: .5;
}

input[type=number] {
    color: var(--color-primary);
}

/* ------------------------------
                HEADER
   ------------------------------ */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    background-color: var(--color-primary);
    padding: 40px;
    /*gap: clamp(1vw, 2vw, 3vw);*/
    gap: 40px;

    border: 0 solid purple;
}
.isotype-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px; /* tamaño fijo que no cambia */
    height: 120px;
    min-width: 480px; /* fuerza a no achicarse */
    max-width: 480px; /* fuerza a no agrandarse */

    border: 0 solid orange;
}

header h1 {
    margin: 0;
    font-family: "Major Mono Display", monospace;
    font-size: 85px; /* min, preferido, max */
    font-weight: 900;
    letter-spacing: -.3rem;
    line-height: 1.1;
    color: var(--color-quaternary);
    padding: 0;
    border: 0 solid red;
}



header .isotype-icon-size {
    width: 70px;
    height: 90px;

    border: 0 solid red;
}

.user-greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    color: var(--color-primary);
    /*padding: clamp(0.2vw, 0.5vw, 1vw);*/
    border-radius: 20px;
    font-size: 1.5rem;
}
.user-greeting strong { 
    font-weight: 700; 
}

.nav-box {
    display: flex;
    flex-wrap: nowrap;
    width: 480px;
    height: 50px;
    justify-content: space-between;
    list-style: none;

    border: 0 solid orange;
}

.navbar-item {
    display: flex;
    justify-content: center;
    flex: none;
}

.icon path { 
    fill: var(--color-tertiary);
    }
.navbar-link:hover .icon path { 
    fill: var(--color-quaternary);
    }
.navbr-link {
    position: relative;
}

.navbar-icon-size {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.navbar-link:hover::after,
.navbar-link:not([data-skip-tooltip]):hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    color: var(--color-quaternary);
    padding: .25rem .75rem;
    font-size: .7rem;
    white-space: nowrap;
}
/* Ícono activo */
/* Ícono activo en la barra de navegación */
.navbar-link.active .icon path {
    fill: var(--color-quaternary) !important;
}


/* GRID RESPONSIVO HEADER */
/*@media (max-width: 62rem) { header { grid-template-columns: 1fr auto; } }
@media (max-width: 48rem) { header { grid-template-columns: 1fr; } }*/

.cards-link {
    display: block;
    width: 100%;
}
.cards-link:hover,
.cards-link:focus,
.cards-link:visited,
.cards-link:active { text-decoration: none; }

.status-bid-won-message {
    position: relative;
    height: auto;
    padding: .5rem 2.5rem;
    font-size: .9rem;
    color: var(--color-quaternary);
    background-color: var(--color-primary);
    border-radius: 0;
    clip-path: polygon(
        0% 50%,        /* punta izquierda */
        5% 0%,         /* esquina superior izquierda */
        95% 0%,        /* esquina superior derecha */
        100% 50%,      /* punta derecha */
        95% 100%,      /* esquina inferior derecha */
        5% 100%,       /* esquina inferior izquierda */
        0% 50%         /* punta izquierda de nuevo */
    );
}

/*  ------------------------------
        MIDDLE COLUMN LAYOUTS
    ------------------------------ */

.main-middle-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.middle-col-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    gap: .5rem;
}

/* ------------------------------
              FORM
   ------------------------------ */
.middle-col-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
}

/* ------------------------------
         INPUTS (COMMON)
   ------------------------------ */
.middle-col-box input.middle-col-app-input,
.middle-col-box textarea.middle-col-app-input,
.middle-col-box select.middle-col-app-input {
    width: 100%;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
}

/* Input, placeholder, focus */
.middle-col-box input.middle-col-app-input {
    height: 40px;
    padding: 0 40px;
}
.middle-col-box input.middle-col-app-input::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
}
.middle-col-box input.middle-col-app-input:focus {
    outline: .188rem solid var(--color-primary);
    background-color: var(--color-quaternary);
}

/* Textarea */
.middle-col-box textarea.middle-col-app-input {
    min-height: 120px;
    padding: 1rem 1.5rem;
}

.middle-col-box textarea.middle-col-app-input:focus {
    background-color: var(--color-quaternary);
    border: 1px solid var(--color-primary);
}

/* Select */
.middle-col-box select.middle-col-app-input {
    height: 40px;
    padding: 0 1rem;
    appearance: none;
}
.middle-col-box select.middle-col-app-input:focus {
    background-color: var(--color-quaternary);
    border: 1px solid var(--color-primary);
}

/* Autofill (Webkit) */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-primary) !important;
    -webkit-box-shadow: 0 0 0 62.5rem var(--color-tertiary) inset !important;
    transition: background-color 0s, color 0s !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 62.5rem var(--color-quaternary) inset !important;
}

/* Button */
.middle-col-box input.btn {
    width: 100%;
    height: 40px;
    padding: .5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: none;
    cursor: pointer;
}
.middle-col-box input.btn:hover {
    color: var(--color-quaternary);
    font-weight: 600;
}

/* Links */
.middle-col-box a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: .5rem;
}



/* INDEX */
.index-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.3124rem, 1fr));
    width: 100%;

    border: 0 solid purple;
}

.index-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding: 40px;
    gap: 2.777vw;
    background-color: var(--color-quaternary);

    border: 0 solid orange;
}
.index-card:hover { background-color: var(--color-tertiary); }

.index-box-image {
    width: 100%;
    aspect-ratio: 1 / 1;

    border: 0 solid blue;
}
.index-box-image img {
    object-fit: contain;
    margin-bottom: 0;
    box-sizing: border-box;

    border: 0 solid red;
}

.index-box-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;

    border: 0 solid blue;
}

.index-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: auto;
    height: 2.1rem; 
    font-weight: 600;

    border: 0 solid red;
}

.index-box-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-weight: 200;
    width: auto;
    height: 4.1rem;

    border: 0 solid red;
}
.index-text-justify { 
    text-align: justify; 
    text-justify: inter-word; 
    hyphens: auto;
}

.index-price {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: var(--color-primary);
    height: 1.15rem;

    border: 0 solid red;
}






/* UNIFIED LISTINGS */
.listings-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.listings-container > * {
    min-width: 0;
}


.listings-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-quaternary);
    padding: 40px;
    gap: 40px;

    border: 0 solid orange;
}
.listings-card * {
    min-width: 0;
}
.listings-card h5,
.listings-card p,
.listings-card div {
    overflow-wrap: anywhere;
    word-break: break-word;
}
.listings-card:hover { background-color: var(--color-tertiary); }

.listings-box-image {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    border: 0 solid blue;
}

.listings-box-description {
    display: flex;
    flex-direction: column;
    flex: 1; /* ocupa todo el espacio restante */
    justify-content: space-between;

    border: 0 solid blue;
}

.listings-box-description > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listings-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: auto;
    height: 2.1rem; 
    font-weight: 600;

    border: 0 solid red;
}
.listings-box-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-weight: 200;
    width: auto;
    height: 4.1rem;

    border: 0 solid red;
}
.listings-text-justify { 
    text-align: justify; 
    text-justify: inter-word; 
    hyphens: auto;
}

@media (max-width: 1200px) {
    .listings-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}


@media (max-width: 640px) {
    .listings-container {
        grid-template-columns: 1fr;
    }

    .listings-card {
        flex-direction: column;
    }

    .listings-box-image {
        width: 100%;
        max-width: none;
    }
}



/* LISTING DETAIL */
.listing-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    padding: 40px;

    border: 0 solid purple;
}

.listing-detail-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-background);

    gap: 40px;

    border: 0 solid orange;
}

.listing-detail-image {
    width: 63.889vw;
    height: 63.889vw;
    overflow: hidden;
    background-color: var(--color-quaternary);
    border: 0px solid red;
}

img { width: 100%; height: 100%; object-fit: contain; }

.listing-detail-text {
    display: flex;
    flex-direction: column;
    width: 27.779vw;
    gap: 2rem;
    margin: 0;
    border: 0 solid red;
}

.listing-detail-owner {
    display: inline-block;
    border-bottom: .345rem solid var(--color-primary);
    padding-bottom: 1rem;
    font-weight: 700;
    margin: 0;
}

.listing-detail-title {
    width: 27.779vw;
    min-width: 0;
    height: 4.166vw; 
    font-weight: 700;
    overflow-wrap: break-word;

    border: 0 solid blue; 
}

.listing-detail-price { 
    font-weight: 700; 
}

.listing-detail-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--color-tertiary);
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 4px;

    border: 0 solid red;
}

.listing-detail-button .icon {
    width: 2.777vw;
    height: 40px;
    min-height: 40px;
}

.listing-detail-button:hover .icon path { fill: var(--color-quaternary); }
.listing-detail-button:hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-primary);
    background: var(--color-quaternary);
    padding: .5rem;
    font-size: .7rem;
    white-space: nowrap;
}
.listing-detail-button svg { pointer-events: none; }


/* Contenedor general */
.listing-detail-forms-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    border: 0 solid red;
}

/* Eliminar flechas del bid */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

.listing-detail-bid-container { 
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    width: 100%;
}

.listing-detail-bid {
    height: 1rem;
}

.listing-detail-bid,
.listing-detail-textarea textarea,
.textarea {
    display: flex;
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    outline: none;
    background-color: var(--color-tertiary);
}

.listing-detail-bid:focus,
.listing-detail-textarea textarea:focus,
.textarea:focus,
form input:focus,
form textarea:focus {
    outline: .25rem solid var(--color-primary) !important;
    box-shadow: none !important;
}

.listing-detail-bid:focus,
.textarea:focus,
.listing-detail-textarea textarea:focus {
    color: var(--color-primary);
    background-color: var(--color-quaternary);
    outline: .25rem solid var(--color-primary);
}

.listing-detail-textarea-container { display: flex; flex-direction: column; align-items: stretch; width: 100%; }
.listing-detail-comments-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.777vw;
    fill: var(--color-primary);
    margin: 0;

    border: 0 solid red;
}

form { display: flex; flex-direction: column; gap: .25rem; }
.comment-owner { background-color: var(--color-primary); color: var(--color-tertiary)}
.comment-user { background-color: var(--color-tertiary); }


/* CATEGORY */
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    padding: 40px 40px 0 40px;
    border: 0 solid red;
}
.category-item:hover {
    text-decoration: underline dotted;
    text-underline-offset: .75rem;
}

