/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Global Styles */
:root {
  --color-primary: #000000;
  --color-secondary: #555555;
  --color-tertiary: #AAAAAA;
  --color-quaternary: #FFFFFF;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--color-quaternary);
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--color-primary);

    border: 0 solid purple;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; }
img, svg { display: block; height: 66.666vw; margin-left: auto; margin-right: auto; }

::placeholder {
    color: var(--color-primary);
    opacity: .5;
}

input[type=number] {
    color: var(--color-primary);
}
/* -----------------------------
   LOGIN SPECIFIC STYLES (MINIMAL)
   ----------------------------- */
.center-col {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.middle-col {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.middle-col form {
    width: 100%;
    max-width: 33.333vw;
    display: flex;
    flex-direction: column;
    gap: 1.333vw;
    margin: 1.333vw;
}

/* Check here */
.middle-col input.form-control {
    width: 100%;
    padding: 8px;
    background-color: var(--color-primary);
    color: var(--color-primary);
    border: none;
    outline: none;
    box-sizing: border-box;
}
/* Check here */
.middle-col input.form-control:focus {
    outline: 3px solid var(--color-secondary);
}
/* Check here*/
.middle-col input.form-control::placeholder {
    color: var(--color-quaternary);
    opacity: 0.7;
}

.center-col .middle-col input.btn {
    width: 100%;
    padding: 8px;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
    cursor: pointer;
}
.center-col .middle-col input.btn:hover {
    color: var(--color-quaternary);
}
.center-col .middle-col a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 6px;
}

/* -----------------------------
   HEADER GRID 3 COLUMNAS
   ----------------------------- */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(33.333vw - 3.333vw);
    margin: 0;
    background-color: var(--color-primary);
    padding: 2.777vw;
    gap: 1.999vw;

    border: 0 solid purple;
}

.isotype-box {
    display: flex;
    align-items: center; /* centra verticalmente los hijos */
    width: 33.333vw;

    border: 0 solid blue;
}

header h1 {
    margin: 0;
    font-family: "Major Mono Display", monospace;
    font-size: 5.666vw;
    font-weight: 900;
    letter-spacing: -.033em;
    color: var(--color-quaternary);
    padding: 0;
    margin: 0;

    border: 0 solid red;
}

header .isotype-icon-size {
    width: 4.666vw;
    height: 5.93vw;

    border: 0 solid red;
}

.user-greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 2.777vw;
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0;
    font-size: 1.388vw;
}
.user-greeting strong { font-weight: 700; }

.nav-box {
    display: flex;
    flex-wrap: nowrap;
    width: 33.333vw;
    justify-content: space-between;
    list-style: none;

    border: 0 solid orange;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex: none;
}

.icon path { 
    fill: var(--color-secondary);
    }
.nav-link:hover .icon path { 
    fill: var(--color-quaternary);
    }
.nav-link {
    position: relative;
}

.navbar-icon-size {
    display: block;
    width: 2.777vw;
    height: 2.777vw;
    margin: 0;
    padding: 0;
}
.nav-link:hover::after,
.nav-link:not([data-skip-tooltip]):hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    color: var(--color-quaternary);
    padding: 4px 6px;
    font-size: 12px;
    white-space: nowrap;
}
/* Ícono activo */
.nav-link.active-icon .icon path {
    fill: var(--color-quaternary) !important;
}

/* GRID RESPONSIVO HEADER */
@media (max-width: 992px) { header { grid-template-columns: 1fr auto; } }
@media (max-width: 768px) { header { grid-template-columns: 1fr; } }


/* INDEX LISTINGS */
.index-listings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 0 solid red;
}

.index-listings-link:hover,
.index-listings-link:focus,
.index-listings-link:visited,
.index-listings-link:active { text-decoration: none; }

.index-listings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 50vw;
    background-color: var(--color-quaternary);
    padding: 2.777vw;
    border: 0 solid orange;
}
.index-listings-container:hover { background-color: var(--color-tertiary); }

.index-listings-container img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
    margin-bottom: 0;
}

.index-listings-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 27.779vw;
    font-weight: 600;
    border: 0 solid blue;
}

.index-listings-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    width: 27.779vw;
    font-weight: 200;
    height: 5.331vw;
    border: 0 solid blue;
}

.clase-justificada { text-align: justify; text-justify: inter-word; hyphens: auto; }
.listing-price {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: var(--color-primary);
    height: 1.777vw;
    border: 0 solid blue;
}

/* GRID RESPONSIVO LISTINGS */
@media (max-width: 992px) { .index-listings-grid { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 768px) { .index-listings-grid { grid-template-columns: 1fr; } }


/* LISTING DETAIL */
.listing-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    border: 0px solid red;
}

.listing-detail-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-background);
    padding: 2.777vw;
    gap: 2.777vw;
    border: 0 solid orange;
}

.listing-detail-image {
    width: 63.889vw;
    height: 63.889vw;
    background-color: var(--color-background);
    overflow: hidden;
    border: 0px solid red;
}

img { width: 100%; height: 100%; object-fit: contain; }

.listing-detail-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 27.779vw;
    gap: 2.777vw;
    margin: 0;
    border: 0 solid red;
}

.listing-detail-owner {
    display: inline-block;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 1.385vw;
    font-weight: 700;
    margin: 0;
}

.listing-detail-title { 
    width: 27.779vw; 
    height: 4.166vw; 
    font-weight: 700;

    border: 0 solid blue; }

.listing-detail-price { 
    font-weight: 700; 
}

.listing-detail-button {
    position: relative;
    width: 100%;
    height: 2.777vw;
    color: var(--color-primary);
    background-color: var(--color-primary);
    cursor: pointer;
}

.listing-detail-button .icon {
    width: 2.777vw;
    height: 2.777vw;
}

.listing-detail-button:hover .icon path { fill: var(--color-quaternary); }
.listing-detail-button:hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    color: var(--color-quaternary);
    padding: 4px 6px;
    font-size: 12px;
    white-space: nowrap;
}
.listing-detail-button svg { pointer-events: none; }

/* Contenedor general */
.listing-detail-forms-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.388vw;
    border: 0 solid red;
}

/* Eliminar flechas del bid */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

.listing-detail-bid-container { display: flex; flex-direction: column; align-items: stretch; width: 100%; }

.listing-detail-bid,
.listing-detail-textarea textarea,
.comments-text {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
}

.listing-detail-bid:focus,
.listing-detail-textarea textarea:focus,
.comments-text:focus,
form input:focus,
form textarea:focus {
    outline: 3px solid var(--color-primary) !important;
    box-shadow: none !important;
}

.listing-detail-textarea-container { display: flex; flex-direction: column; align-items: stretch; width: 100%; }
.listing-detail-comments-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.777vw;
    fill: var(--color-primary);
    margin: 0;
    border: 0 solid red;
}

form { display: flex; flex-direction: column; gap: 12px; }
.comment-owner { background-color: var(--color-quaternary); }
.comment-user { background-color: var(--color-primary); }

/* Won message */
.won-message {
    padding: 12px;
    color: var(--color-quaternary);
    border-radius: 12px;
    background-color: var(--color-primary);
}
