/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Global Styles */
:root {
  --color-primary: #000000;
  --color-secondary: #555555;
  --color-tertiary: #AAAAAA;
  --color-quaternary: #FFFFFF;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--color-quaternary);
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;

    color: var(--color-primary);

    border: 0 solid purple;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; }
img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
::placeholder {
    color: var(--color-primary);
    opacity: .5;
}

input[type=number] {
    color: var(--color-primary);
}

/* ------------------------------
                HEADER
   ------------------------------ */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    background-color: var(--color-primary);
    padding: 40px;
    /*gap: clamp(1vw, 2vw, 3vw);*/
    gap: 40px;

    border: 0 solid purple;
}
.isotype-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px; /* tamaño fijo que no cambia */
    height: 120px;
    min-width: 480px; /* fuerza a no achicarse */
    max-width: 480px; /* fuerza a no agrandarse */

    border: 0 solid orange;
}

header h1 {
    margin: 0;
    font-family: "Major Mono Display", monospace;
    font-size: 85px; /* min, preferido, max */
    font-weight: 900;
    letter-spacing: -.3rem;
    line-height: 1.1;
    color: var(--color-quaternary);
    padding: 0;
    border: 0 solid red;
}



header .isotype-icon-size {
    width: 70px;
    height: 90px;

    border: 0 solid red;
}

.user-greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    color: var(--color-primary);
    /*padding: clamp(0.2vw, 0.5vw, 1vw);*/
    border-radius: 20px;
    font-size: 1.5rem;
}
.user-greeting strong { 
    font-weight: 700; 
}

.nav-box {
    display: flex;
    flex-wrap: nowrap;
    width: 480px;
    height: 50px;
    justify-content: space-between;
    list-style: none;

    border: 0 solid orange;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex: none;
}

.icon path { 
    fill: var(--color-tertiary);
    }
.nav-link:hover .icon path { 
    fill: var(--color-quaternary);
    }
.nav-link {
    position: relative;
}

.navbar-icon-size {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.nav-link:hover::after,
.nav-link:not([data-skip-tooltip]):hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    color: var(--color-quaternary);
    padding: .25rem .75rem;
    font-size: .7rem;
    white-space: nowrap;
}
/* Ícono activo */
.nav-link.active-icon .icon path {
    fill: var(--color-quaternary) !important;
}

/* GRID RESPONSIVO HEADER */
/*@media (max-width: 62rem) { header { grid-template-columns: 1fr auto; } }
@media (max-width: 48rem) { header { grid-template-columns: 1fr; } }*/


/* ------------------------------
                MAIN
   ------------------------------ */
.main-middle-col {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 40px;

    border: 0 solid purple;
}

.middle-col-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    gap: .5rem;

    border: 0 solid orange;
}

.middle-col-box form {
    width: 100%;
    min-width: 480px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 40px 0;

    border: 0 solid red;
}

/* Inputs*/
.middle-col-box input.form-control {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;

}
/* Placeholder*/
.middle-col-box input.form-control::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
}
.middle-col-box input.form-control:focus {
    outline: .188rem solid var(--color-primary);
    background-color: var(--color-quaternary);
}
/* AUTOCOMPLETADO */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-primary) !important;
    -webkit-box-shadow: 0 0 0 62.5rem var(--color-tertiary) inset !important;
    transition: background-color 0s, color 0s !important;
}
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-primary) !important;
    -webkit-box-shadow: 0 0 0 62.5rem var(--color-quaternary) inset !important;
    transition: background-color 0s, color 0s !important;
}

/* Button */
.middle-col-box input.btn {
    width: 100%;
    height: 40px;
    padding: .5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: none;
    cursor: pointer;
}
.middle-col-box input.btn:hover {
    color: var(--color-quaternary);
    font-weight: 600;
}
.middle-col-box a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: .5rem;
}


/* INDEX */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.3124rem, 1fr));
    width: 100%;

    border: 0 solid purple;
}

.index-link:hover,
.index-link:focus,
.index-link:visited,
.index-link:active { text-decoration: none; }

.index-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    padding: 40px;
    gap: 2.777vw;
    background-color: var(--color-quaternary);

    border: 0 solid orange;
}
.index-card:hover { background-color: var(--color-tertiary); }

.index-box-image {
    width: 100%;
    aspect-ratio: 1 / 1;

    border: 0 solid blue;
}

.index-box-image img {
    object-fit: contain;
    margin-bottom: 0;
    box-sizing: border-box;

    border: 0 solid red;
}

.index-box-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;

    border: 0 solid blue;
}

.index-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: auto;
    height: 2.1rem; 
    font-weight: 600;

    border: 0 solid red;
}

.index-box-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-weight: 200;
    width: auto;
    height: 4.1rem;

    border: 0 solid red;
}
.index-text-justify { 
    text-align: justify; 
    text-justify: inter-word; 
    hyphens: auto;
}

.index-price {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: var(--color-primary);
    height: 1.15rem;

    border: 0 solid red;
}

/* GRID RESPONSIVO LISTINGS */
/*@media (max-width: 62rem) { .index-listings-grid { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 48rem) { .index-listings-grid { grid-template-columns: 1fr; } }*/


/* LISTING DETAIL */
.listing-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;

    border: 0px solid red;
}

.listing-detail-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-background);
    padding: 2.777vw;
    gap: 2.777vw;
    border: 2px solid orange;
}

.listing-detail-image {
    width: 63.889vw;
    height: 63.889vw;
    background-color: var(--color-tertiary);
    overflow: hidden;
    border: 0px solid red;
}

img { width: 100%; height: 100%; object-fit: contain; }

.listing-detail-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 27.779vw;
    gap: 2rem;
    margin: 0;
    border: 0 solid red;
}

.listing-detail-owner {
    display: inline-block;
    border-bottom: .345rem solid var(--color-primary);
    padding-bottom: 1rem;
    font-weight: 700;
    margin: 0;
}

.listing-detail-title { 
    width: 27.779vw; 
    height: 4.166vw; 
    font-weight: 700;

    border: 0 solid blue; }

.listing-detail-price { 
    font-weight: 700; 
}

.listing-detail-button {
    display: flex;
    position: relative;
    width: 100%;
    height: 2.777vw;
    color: var(--color-tertiary);
    background-color: var(--color-primary);
    cursor: pointer;
}

.listing-detail-button .icon {
    width: 2.777vw;
    height: 2.777vw;
}

.listing-detail-button:hover .icon path { fill: var(--color-quaternary); }
.listing-detail-button:hover::after {
    content: attr(data-tip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-quaternary);
    color: var(--color-primary);
    padding: .5rem;
    font-size: .7rem;
    white-space: nowrap;
}
.listing-detail-button svg { pointer-events: none; }


/* Contenedor general */
.listing-detail-forms-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    border: 2px solid red;
}

/* Eliminar flechas del bid */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

.listing-detail-bid-container { display: flex; flex-direction: column; align-items: stretch; width: 100%; }

.listing-detail-bid,
.listing-detail-textarea textarea,
.comments-text {
    display: flex;
    width: 100%;
    padding: .75rem;
    box-sizing: border-box;
    border-radius: .75rem;
    outline: none;
    background-color: var(--color-tertiary);
}

.listing-detail-bid:focus,
.listing-detail-textarea textarea:focus,
.comments-text:focus,
form input:focus,
form textarea:focus {
    outline: .25rem solid var(--color-primary) !important;
    box-shadow: none !important;
}

.listing-detail-bid:focus,
.comments-text:focus,
.listing-detail-textarea textarea:focus {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    outline: .25rem solid var(--color-primary);
}

.listing-detail-textarea-container { display: flex; flex-direction: column; align-items: stretch; width: 100%; }
.listing-detail-comments-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.777vw;
    fill: var(--color-primary);
    margin: 0;
    border: 0 solid red;
}

form { display: flex; flex-direction: column; gap: .25rem; }
.comment-owner { background-color: var(--color-primary); color: var(--color-tertiary)}
.comment-user { background-color: var(--color-tertiary); }

/* Won message */
.won-message {
    padding: .25rem;
    color: var(--color-quaternary);
    border-radius: .25rem;
    background-color: var(--color-primary);
}
