{% extends "auctions/layout.html" %}

{% block body %}
    <main class="main-middle-col">

        <div class="middle-col-box">
        <form method="post">                                <!-- Uses a POST method to securely submit form data to the server. -->
            {% csrf_token %}                                <!-- Includes CSRF protection to prevent cross-site request forgery attacks. -->
            {% for field in form %}                         <!-- Iterates over all fields in the form dynamically, reducing template repetition and making it easier to maintain.-->
            <div>
                <!--{{ field.label_tag }}-->
                {{ field }}
            </div>
            {% endfor %}
            
            <button class="listing-detail-button" type="submit">    <!-- Provides a simple submit button to create a new listing, completing the form interaction flow. -->
                <svg class="icon navbar-icon-size" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" role="img" aria-label="Create a listing" focusable="false">
                    <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z"/>
                </svg>
            </button>
        </form>
        </div>

    </main>
{% endblock %}
