{% extends "auctions/layout.html" %}

{% block body %}
<main class="index-grid">
        {% for listing in listings %}
        <a class="index-link" href="{% url 'listing_detail' listing.id %}">
            <div class="index-card">
                {% if listing.image_url %}
                    <div class="index-box-image">
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    </div>
                {% endif %}
                <div class="index-box-description">
                    <h5 class="index-title">{{ listing.title }}</h5>
                    <div class="index-box-text">
                        <p class="index-text-justify">{{ listing.description }}</p>
                    </div>
                    <h5 class="index-price">
                        {% if listing.has_bids %}
                            Now: ${{ listing.current_price }}
                        {% else %}
                            From: ${{ listing.starting_bid }}
                        {% endif %}
                    </h5>
                </div>
            </div>
        </a>
        {% empty %}
            <p>No active listings at the moment.</p>
        {% endfor %}
</main>
{% endblock %}

