{% extends "auctions/layout.html" %}

{% block body %}
<div class="index-listings-grid">
    {% for listing in listings %}
    <a class="index-listings-link" href="{% url 'listing_detail' listing.id %}">
        <div class="index-listings">
            <h5 class="index-listings-title">{{ listing.title }}</h5>
            <p class="index-lisitngs-description">{{ listing.description }}</p>
            <p class="listing-price">
                {% if listing.has_bids %}
                    Now: ${{ listing.current_price }}
                {% else %}
                    From: ${{ listing.starting_bid }}
                {% endif %}
            </p>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            {% endif %}
        </div>
    </a>
    {% empty %}
        <p>No active listings at the moment.</p>
    {% endfor %}
</div>
{% endblock %}
