{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>
<body>

    <!-- HEADER 3 COLUMNAS -->
    <header>
        <div class="header-wrapper"> <!-- columna vacía izquierda -->
        <!--<div class="header-wrapper">-->
            <h1>Auctions</h1>
            <div class="user-greeting">
                {% if user.is_authenticated %}
                    Hello <strong>{{ user.username }}</strong>!
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><img src="{% static 'auctions/icons/apps_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="Active Listings"></a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'create_listing' %}"><img src="{% static 'auctions/icons/add_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="Create Listing"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'my_listings' %}"><img src="{% static 'auctions/icons/storefront_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="My Listings"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}"><img src="{% static 'auctions/icons/category_search_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="Categories"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'my_purchases' %}"><img src="{% static 'auctions/icons/shopping_bag_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="My Purchases"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'watchlist' %}"><img src="{% static 'auctions/icons/visibility_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="Watchlist"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><img src="{% static 'auctions/icons/logout_33dp_800080_FILL0_wght400_GRAD0_opsz40.svg' %}" alt="Log Out"></a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><img src="{% static 'auctions/icons/fingerprint_33dp_1F1F1F.svg' %}" alt="Log In"></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><img src="{% static 'auctions/icons/person_add_alt_33dp_1F1F1F.svg' %}" alt="Register"></a></li>
                {% endif %}
            </ul>
        </div>
        <!--<div class="header-wrapper">-->
    </header>

    {% block body %}
    {% endblock %}

</body>
</html>
