{% extends "auctions/layout.html" %}

{% block body %}
<main class="listings-container">
    <!--<div class="listings-grid">-->
    {% if listings|length == 0 %}
        {% if mode == "watchlist" %}
            <p>You have no items in your watchlist.</p>
        {% elif mode == "my_purchases" %}
            <p>You have not purchased or bid on any listings.</p>
        {% elif mode == "my_listings" %}
            <p>You have not created any listings.</p>
        {% endif %}
        {% if listings|length == 0 %}
            <p>No listings in this category.</p>
        {% endif %}
    {% endif %}

    {% for listing in listings %}
    <a class="cards-link" href="{% url 'listing_detail' listing.id %}?mode={{ mode }}">
        <div class="listings-card">
                {% if listing.image_url %}
                    <div class="listings-box-image">
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="listing-picture">
                    </div>
                {% endif %}

                <div class="listings-box-description">
                    <div>
                        {% if listing.status_message %}
                            <p class="status-bid-won-message">{{ listing.status_message }}</p>
                        {% endif %}                        
                        <h5 class="listings-title">{{ listing.title }}</h5>
                        <div class="listings-box-text">
                            <p class="listings-text-justify">{{ listing.description }}</p>
                        </div>
                        <h5 class="index-price">Now: ${{ listing.current_price }}</p>
                    </div>
                    <div>
                        {% if mode in "my_purchases watchlist" %}
                            <form action="{% url 'remove_listing_from_mode' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="mode" value="{{ mode }}">
                                <button class="listing-detail-button" type="submit" data-tip="Remove from {% if mode == 'my_purchases' %}My Purchases{% elif mode == 'watchlist' %}Watchlist{% endif %}">
                                {% if mode == "my_purchases" %}
                                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" role="img" aria-label="Remove from My Purchases" focusable="false">
                                    <path d="M200-446.67v-66.66h560v66.66H200Z"/>
                                    </svg>
                                {% elif mode == "watchlist" %}
                                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" role="img" aria-label="Remove from My Watchlist" focusable="false">
                                    <path d="M200-446.67v-66.66h560v66.66H200Z"/>
                                    </svg>
                                {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
        </div>
    </a>
    {% endfor %}
</main>

{% endblock %}
